<%- include('../partials/header') %>
<h1><%= title %></h1>
<h2>(<span <%- character.learned ? 'style="color: #00bbbb;"' : 'style="color: #bb0000;"' %>><%= character.learned ? 'LEARNED' : 'LEARNING' %></span>)</h2>
<div class="char" id="featured" <%- character.learned ? 'style="border-color: #337777; background-color: #77bbbb;"' : 'style="border-color: #773333; background-color: #bb7777;"' %>><%= character.glyph %></div>
<br>
<br>
<% if (character.components.length) { %>
<div>Component<%= character.components.length > 1 ? 's' : '' %>:</div>
<ul>
  <% character.components.forEach(component => { %>
  <li><%= component.glyph %><%= component.form ? `(${component.form})` : '' %><br><span class="detail"><%= component.role %></span></li>
  <% }); %>
</ul>
<% }; %>
<div>Strokes: <%= character.strokes %></div>
<br>
<% if (character.variants) { %>
<div>Variant<%= character.variants.length > 1 ? 's' : '' %>: <%= character.variants.split('').join(' / ') %></div>
<% }; %>
<br>
<% if (character.meanings.length) { %>
  <% character.meanings.forEach((meaning, idx) => { %>
  <div>Meaning<%= character.meanings.length > 1 ? ` ${idx+1}` : '' %>: <%= meaning.definition %></div>
  <ul>
    <% meaning.readings.forEach(reading => { %>
    <li><%= reading.sound %><br><span class="detail"><%= reading.language %><%= reading.register ? ` (${reading.register})` : '' %></span></li>
    <% }); %>
  </ul>
  <% }); %>
<% }; %>
<br>
<% if (character.learned) { %>
  <form action="/characters/<%= character._id %>/unlearn?_method=PUT" method="POST">
    <button type="submit">LEARNING</button>
  </form>
<% } else { %>
  <form action="/characters/<%= character._id %>/learn?_method=PUT" method="POST">
    <button type="submit">LEARNED</button>
  </form>
<% } %>

<%- include('../partials/footer') %>